<div class="container-fluid text-right no-text">
    <div class="row panel-heading text-right">
        <div class=" col-md-4 col">
            <img id="textImg" src="../../../assets/document_text.png">
            <h1>{{pageTitle}}</h1>
        </div>
        <div class="col-md-4 col "></div>
        <div class="col-md-3 col  addButton">
            <button class=" btn btn-primary" (click)="addcontent()"> <img *ngIf="state !== 'add'" id="addImage"
                    src="../../../assets/white_plus_sign.png">
                {{state === 'add' ? 'رجوع' : ' إضافة محتوي دراسي'}}
            </button>
        </div>
    </div>
    <!-- show units and classes -->
    <div class="panel-body text-right" *ngIf="state ==='init'">
        <table id="table" class="table " *ngIf="state ==='init' && units">
            <tbody>
                <tr *ngFor="let unit of units ; let i = index" (click)="getLessons(unit.unit_id)">
                    <div class="row ">
                        <td class=" col-md-1"><img src="../../../assets/Button.png" alt=""></td>
                        <td class="col-md-6">{{unit.unit_name}}
                            <br>
                            <span class="smalltext">{{unit.lessons_count}} دروس</span>
                            <div>
                                <table id="lessonTable" class="table" *ngIf="unit.unit_id === unitId">
                                    <tbody id="" class="row">
                                        <div *ngFor="let lesson of lessons ; let i=index" class="card col-md-4"
                                            style="width: 18rem;">
                                            <div *ngIf="lesson.unit_id==unit.unit_id">
                                                <img src="../../../assets/books.png" class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{lesson.unit_name}}</h5>
                                                    <p class="card-text">{{lesson.lesson_name}} </p>
                                                    <p class="fw-lighter smalltext text-wrap card-text">
                                                        {{lesson.description}}
                                                    </p>
                                                    <div class="row ">
                                                        <a class="col-md-4 btn btn-primary "
                                                            (click)="viewLesson(lesson.lesson_name)">Go
                                                        </a>
                                                        <a href="#" class="col-md-4 btn  ">
                                                            <i class="fa fa-clapperboard"></i></a>
                                                        <a href="#" class="col-md-4 btn btn-danger">Go
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <tr *ngFor="let lesson of lessons ; let i=index">
                                            <div class="oneLesson" *ngIf="lesson.unit_id==unit.unit_id">
                                                <td><button class="btn"
                                                        (click)="viewLesson(lesson.lesson_name)">{{lesson.lesson_name}}</button>
                                                </td>
                                            </div>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        <td class="text-right col-md-3 addButton">
                            <button type="button" style="border-radius: 0px;border: black; background: none;">
                                <img src="../../../assets/ButtonArrow.png" alt="">
                            </button>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- show units and classes -->
    <!-- add content -->
    <form [formGroup]="form" *ngIf="state ==='add'">
        <div class="formGroup row panel-body">
            <div class="col-md-4">
                <label class="form-label" for="unit_name">اسم المادة</label>
                <select class="form-control" name="unit_name" id="" formControlName="subject_id">
                    <option *ngFor="let subject of subjects ; let i = index" [value]="subject.subject_id">
                        {{subject.subject_name}}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="unit_id">الوحدة</label>
                <select class="form-control" name="unit_id" id="unit_id" formControlName="unit_id">
                    <option *ngFor="let unit of units ; let i = index" [value]="unit.unit_id">
                        {{unit.unit_name}}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label" for="lessons_name">اسم الدرس</label>
                <select class="form-control" name="lessons_name" id="" formControlName="lesson_id">
                    <option *ngFor="let lesson of allLessons ; let i = index" [value]="lesson.lesson_id">
                        {{lesson.lesson_name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="formGroup row panel-body">
            <div class="col-md-12 row">
                <div class="col-md-1">
                    <button id="text" class="textLinks" (click)="toggleVideo('text')"
                        style="background-color: rgba(240, 248, 255, 0);border-style: none; color: #004BFD;">نص
                        <i class="fa-duotone fa-t"></i>
                    </button>
                </div>
                <div class="col-md-1">
                    <button id="video" class="textLinks" (click)="toggleVideo('video')"
                        style="background-color: rgba(240, 248, 255, 0);border-style: none;">فيديو
                        <i class="fa-solid fa-clapperboard"></i>

                    </button>
                </div>
            </div>
            <div class="col-md-10"></div>
            <div class="row panel-body">
                <div class="col-md-4">
                    <label class="form-label" for="lessons_name">الاسم</label>
                    <input type="text" class="form-control" name="lessons_name" id="" formControlName="lesson_name">
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="lessons_tags">Tags</label>
                    <br>
                    <div id="list1" class="row dropdown-check-list " multible size="1" (click)="checkL()"
                        style="min-width: 100%;">
                        <span class="anchor form-control " id="lessons_tags">Select Tags</span>

                        <ul id="tagsList" class="col row tags form-switch">
                            <li class="col-md-3">
                                <input value="tag1" (change)="onCheckboxChange($event)" class=" btn-check" id="tag1"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag1">tag1</label>
                            </li>
                            <li class="col-md-3">
                                <input value="tag2" (change)="onCheckboxChange($event)" class=" btn-check" id="tag2"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag2">tag2</label>
                            </li>
                            <li class="col-md-3">
                                <input value="tag3" (change)="onCheckboxChange($event)" class=" btn-check" id="tag3"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag3">tag3</label>
                            </li>
                            <li class="col-md-3">
                                <input value="tag4" (change)="onCheckboxChange($event)" class=" btn-check" id="tag4"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag4">tag4</label>
                            </li>
                        </ul>
                        <ul id="tagsList" class="col row tags form-switch">
                            <li class="col-md-3">
                                <input value="tag5" (change)="onCheckboxChange($event)" class=" btn-check" id="tag5"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag5">tag5</label>
                            </li>
                            <li class="col-md-3">
                                <input value="tag6" (change)="onCheckboxChange($event)" class=" btn-check" id="tag6"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag6">tag6</label>
                            </li>
                            <li class="col-md-3">
                                <input value="tag7" (change)="onCheckboxChange($event)" class=" btn-check" id="tag7"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag7">tag7</label>
                            </li>
                            <li class="col-md-3">
                                <input value="tag8" (change)="onCheckboxChange($event)" class=" btn-check" id="tag8"
                                    type="checkbox" />
                                <label class=" btn btn-outline-primary" for="tag8">tag8</label>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-4  ">
                    <label class="form-label" for="lessons_description">الوقت المتوقع</label>
                    <input type="text" class="form-control" name="lessons_time" id="" formControlName="lesson_time">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="lessons_description">الوصف</label>
                    <textarea class="form-control" name="lessons_description" id=""
                        formControlName="lesson_description"></textarea>
                </div>

            </div>
            <!-- textEditor area -->

            <div *ngIf="videoPool" style="margin: auto;" class="formgroup">
                <div class="NgxEditor__Wrapper">
                    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                    <ngx-editor [editor]="editor" formControlName="lesson_content"> </ngx-editor>
                </div>
            </div>
            <!-- textEditor area -->
            <!-- viduploader -->
            <div *ngIf="!videoPool" class="formgroup mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input formControlName="lesson_content" class="form-control" type="file" id="formFile">
            </div>
            <!-- viduploader -->
            <app-content-form [form]="form" [subjects]="subjects"
                (submit)="handleFormSubmit($event)"></app-content-form>
        </div>
    </form>

    <!-- add content -->
</div>