.nav {
    margin: 1%;
}

.nav p {
    font-size: 16px;
    font-weight: 700;
}

.nav a {
    text-decoration: none;
    color: #8B8D97;
    font-size: 18px;
    font-weight: bold;
}

.last {
    color: rgb(0, 21, 255) !important;
    text-decoration: underline !important;
}

.nav h2 {
    font-size: 20px;

    font-weight: 700;
}

.user {
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .nav {
        padding-top: 1%;
        padding-bottom: 2%;
        margin-right: 4%;
        align-items: center;

    }

    .nav h2,
    h5,
    p {
        font-size: 14px !important;
        font-weight: 500 !important;
    }

    .nav a {
        text-decoration: none;
        color: #004BFD;
        font-size: 12px;
    }

    .user {
        align-items: center;
    }
}