<div class="page-container">
    <div id="viewport">

        <div id="sidebar">
            <header>
                <a href=""></a>
            </header>
            <ul class="nav">
                <li class="row">
                    <button class="btn  btn-outline-primary" value="/lessons" (click)="navigateTo($event.target )">
                        <img src="../../../assets/document_text.png" alt=""> المواد الدراسية
                    </button>
                </li>
                <li class="row logout">
                    <button class="btn  btn-outline" href="/classes">
                        <img src="../../../assets/logout.png" alt=""> تسجيل الخروج
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>