.container-fluid {
    direction: rtl;
}

.nav {
    background-color: #004BFD0A;
}


.nav {
    padding-right: 14%;
}

@media only screen and (max-width: 600px) {
    .nav {
        padding-right: 0%;
    }
}