<div class="lesson-container">
    <div class="lesson-header">
        <h2> اسم الدرس :{{lesson.lesson_name}}</h2>
        <h2>{{lesson.subject_name}}</h2>
        <h2>اسم الوحدة : {{lesson.unit_name}}</h2>
        <h2>التوقيت المتاح: {{lesson.unit_name}}</h2>
        <h2>اسم المادة : {{lesson.unit_name}}</h2>
        <h2>: Tags {{lesson.unit_name}}</h2>
        <h2>الاسم : {{lesson.unit_name}}</h2>

    </div>
    <div class="lesson-content">
        <p>الوصف:{{ lesson.description }}</p>
        الحالة :
    </div>
</div>