.lesson-container {
    background-color: #EFF9FF;
    margin: 2rem;
    margin-right: 13%;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.panel-body {
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;

}

@media only screen and (max-width: 600px) {
    .lesson-container {

        margin: 2rem;
        margin-right: 0%;
        padding: 1rem;
        border-radius: 12px;
        margin-bottom: 1rem;
    }

    .panel-body {
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
    }

    .panel-body .bottom-col {
        flex-direction: column-reverse;
    }

    .panel-body h4,
    h5 {
        font-size: 14px;
        font-weight: 300;

    }
}